<mat-sidenav-container class="v-sidenav-container">
    <mat-sidenav
        #sidenav
        [opened]="!isScreenSmall"
        class="v-sidenav mat-elevation-z10"
        [mode]="isScreenSmall ? 'over' : 'side'"
    >
        <mat-toolbar color="primary">
            <button mat-button routerLink="/studentmanager">Home</button>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item routerLink="/studentmanager/students">
                <a matLine>Students</a>
            </mat-list-item>
            <mat-list-item routerLink="/studentmanager/courses">
                <a matLine>Courses</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <div class="v-sidenav-content">
        <v-toolbar (toggleSidenav)="sidenav.toggle()"></v-toolbar>
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>