table {
    width: 100%;
}

td,
th {
    :first-of-type {
        width: 20%;
    }
    :last-of-type {
        width: 80%;
    }
}

.container {
    position: relative;
    min-height: 200px;
    height: 100%;
}

.table-container {
    position: relative;
    height: 100%;
    overflow: auto;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}