<div class="loading-shade" *ngIf="isSaving">
    <mat-spinner *ngIf="isSaving"></mat-spinner>
</div>
<mat-card class="card">
    <mat-card-header>
        <div>
            <mat-card-title>Create a Student</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput [formControl]="firstName" required>
                <mat-error *ngIf="firstName.invalid">{{ getErrorMessage(firstName) }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Middle Name</mat-label>
                <input matInput [formControl]="middleName">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput [formControl]="lastName" required>
                <mat-error *ngIf="lastName.invalid">{{ getErrorMessage(lastName) }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput [formControl]="emailAddress" required>
                <mat-error *ngIf="emailAddress.invalid">{{ getErrorMessage(emailAddress) }}</mat-error>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" (click)="onSave()" [disabled]="isSaving">
            <mat-icon>save</mat-icon> Create
        </button>
        <button mat-button color="primary" (click)="onCancel()" [disabled]="isSaving">
            <mat-icon>cancel</mat-icon> Cancel
        </button>
    </mat-card-actions>
</mat-card>